<h1>Register with Veripeditus</h1>

<form novalidate>
  <fieldset class="form-group">
    <label for="username">User name</label>
    <input type="text" ng-model="username" class="form-control" id="username" placeholder="Enter your username">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="password" class="form-control" id="password" placeholder="Enter your password">
  </fieldset>
  <fieldset class="form-group">
    <label for="name">Display name</label>
    <input type="text" ng-model="name" class="form-control" id="name" placeholder="Enter your display name">
  </fieldset>
  <fieldset class="form-group">
    <label for="email">E-mail address</label>
    <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter your e-mail address">
  </fieldset>
  <button type="submit" ng-click="register()" class="btn btn-primary">Register</button>
</form>
