<div class="modal-header">
  <h3 class="modal-title">Login to Veripeditus</h1>
</div>
<div class="modal-body">
  <fieldset class="form-group">
    <label for="username">User name</label>
    <input type="text" ng-model="username" class="form-control" id="username" placeholder="Enter your username">
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="password" class="form-control" id="password" placeholder="Enter your password">
  </fieldset>
  <fieldset class="form-group">
    <input type="checkbox" ng-model="remember" class="form-control" id="remember">
    <label for="remember">Remember login</label>
  </fieldset>
</div>
<div class="modal-footer">
  <button ng-click="login()" class="btn btn-primary">Login</button>
</div>
