<h1>About You</h1>

<div id="dialog-player-login">
 <h2>Login</h2>

 <label for="username">Username:</label>
 <input type="text" name="username" id="dialog-player-login-username" size="20" />

 <label for="password">Password:</label>
 <input type="password" name="password" id="dialog-player-login-password" size="20" />

 <button id="dialog-player-login-button">
  Login
 </button>
 <button id="dialog-player-register-button">
  Register
 </button>
</div>

<div id="dialog-player-logout">
 <button id="dialog-player-logout-button">
  Logout
 </button>

 <hr />

 <h2>Change World</h2>

 <select id="worlds">
 </select>

 <h2>Inventory</h2>

 <table id="inventory-table">
 </table>
</div>
