html, body, div.content-wrapper {
	height: 100%;
	position: relative;
}

body {
	margin-bottom: 60px;
}

.navbar.navbar-default, .footer {
	color: #f3f3f3;
}

.navbar.navbar-default {
	background-color: #ff5050;;
	border-top: 1px solid #e60000;
	min-height: 64px;
}

#logo {
	height: 100%;
}

div#map {
	height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #003cb3;
	border-top: 1px solid #939393;
}
