html, body, div#map {
	height: 100%;
	width: 100%;
}

.navbar.navbar-default {
	background-color: #ff5050;;
	border-bottom: 1px solid #e60000;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, #footer > .text-muted {
	color: #F3F3F3;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #F3F3F3;
}

.nav {
	font-size: 18px;
}

#logo {
	height: 18px;
}

#navbar {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2003;
}

div#content-wrapper {
	height: 100%;
	width: 100%;
	overflow: auto;
}

div#content-outer {
	position: fixed;
	top: 60px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

div#floating-messages {
	position: fixed;
	z-index: 9999;
	padding-top: 20px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #003cb3;
	border-top: 1px solid #939393;
	z-index: 2002;
}
