html, body, div#map {
	height: 100%;
	width: 100%;
}

.navbar.navbar-default {
	background-color: #ff5050;;
	border-bottom: 1px solid #e60000;
	margin-bottom: 0px;
}

#logo {
	height: 100%;
}

#navbar {
	position: absolute;
	top: 0px;
	height: 70px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
}

div#content-wrapper {
	position: absolute;
	top: 70px;
	bottom: 70px;
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0px;
	height: 70px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	text-align: center;
	background-color: #003cb3;
	border-top: 1px solid #939393;
}
